.header__text_yellow {
    font-size: 20px;
    margin-left: 15px;
}

/* .q-page__content-all {
    height: 100%;
} */

.q-page__content {
    color: white;
    font-family: 'PT Serif', serif;
    text-align: center;
    padding: 0 15px;
}

.content_title {
    font-weight: 700;
    font-size: 15px;
    margin: 15px auto;
}

.content_description {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
}

.content_get-result {
    font-weight: 700;
    color: #3BDE7C;
    font-size: 18px;
    line-height: 22px;
    margin: 12px auto;
}

.content_mobile {
    margin: 0 15px;
    padding: 15px 12px 10px;
    background: #1C2741;
    border-radius: 6px;
    font-size: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
}

.content_timer {
    color: #3BDE7C;
    font-size: 11px;
}

.timer {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.timer_minutes {
    font-size: 30px;
    margin-right: 10px;
}

.content_call-me {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    padding: 30px 13px;
    background: #EB1B00;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}

.content_call-me p {
    text-align: start;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 15px;
}

.content_call-me img {
    margin-right: 18px;
}

.lightning {
    width: 165px;
    height: 165px;
    position: absolute;
}

.lightning-right {
    right: -65px;
    bottom: 110px;
    transform: rotate(-55deg);
}

.lightning-left {
    left: -100px;
    bottom: 30px;
    transform: rotate(-54deg);
}

@media screen and (min-width: 440px) {
    .content_title {
        font-size: 20px;
    }
    .content_description {
        font-size: 18px;
    }
    .content_get-result {
        font-size: 23px;
    }
    .content_mobile {
        font-size: 13px;
        padding: 20px 20px 15px;
    }
    .content_timer {
        font-size: 18px;
    }
    .timer_minutes {
        font-size: 40px;
    }
    .content_call-me p {
        font-size: 20px;
    }
    .lightning {
        width: 200px;
        height: 200px;
    }
    .lightning-right {
        right: -100px;
    }
}